
#content{
	
	font: 13px/1.5 sans-serif;
}
#intro{
	text-align: justify;
	vertical-align: top;
	width: 800px;
	font-size: 150%;
	margin: 0 auto;
}
.divtable{
	
	display:table;
	border-collapse: separate;
	border-spacing: 2px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: center;

}
.row1{
	display:table-row;
	vertical-align: center;

}
.row2{
	display: table-row;
	vertical-align: center;
}
.row3{
	display:table-row;
	vertical-align: center;
}
#image1{
	display:table-cell;
	margin: 25 15 15 15;
	
}
#image2{
	display: table-cell;
	margin-left:50px;
	margin-right:50px;
}
#image3{
	display: table-cell;
	margin-left:50px;
	margin-right:50px;
}
#image4{
	display: table-cell;
	margin-left:50px;
	margin-right:50px;
}
#image5{
	display:table-cell;
	margin: 25 15 15 15;
	
}
#image6{
	display:table-cell;
	margin: 25 15 15 15;
	
}
#image7{
	display:table-cell;
	margin: 25 15 15 15;
	
}
#image8{
	display:table-cell;
	margin: 25 15 15 15;
	
}
#image9{
	display:table-cell;
	margin: 25 15 15 15;
	
}
#image10{
	display:table-cell;
	margin: 25 15 15 15;
	
}
#image11{
	display:table-cell;
	margin: 25 15 15 15;
	
}
#image12{
	display:table-cell;
	margin: 25 15 15 15;
	
}
#footer{
	text-align: center;
	text-align: center;
	width: 70%;
	margin: 10px auto;
	border-top: 1px solid #AAAAAA;
}
.nowrap{
	white-space: nowrap;
}
#footer1{
	float:;
	text-align: center;
}
#footer2{
	float:;
	text-align: center;
}
